*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

a{
    font-family: CaviarBold;
}

@font-face {
    font-family: "Caviar";
    src: url(../assets/CaviarDreams.ttf);
}@font-face {
    font-family: "CaviarBold";
    src: url(../assets/CaviarDreams_Bold.ttf);
}@font-face {
    font-family: "CaviarItalic";
    src: url(../assets/CaviarDreams_Italic.ttf);
}